<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Spacebox</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Faq</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">My Inventory</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">My account</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Order space</a>
      </li>
    </ul>
    <span class="navbar-text">
      Hotline: 3480 8259 <br>
      Whatsapp: 9515 9281
    </span>
  </div>
</nav>
<div class="content">
  <div class="summary col-md-3" style="display:none" id="summary">
    <br>
    <br>
    <br>
    <div class="row">
      <div class="col-8">
        1 Document Boxes
      </div>
      <div class="col-4">
        $99
      </div>
    </div>
    <div class="row">
      <div class="col-8">
        1 Document Boxes
      </div>
      <div class="col-4">
        $99
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-8">
        Your monthly bill
      </div>
      <div class="col-4">
        $198
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <br>
    <button type="button" class="btn btn-secondary pull-right" id="summary-button">Order Summary&nbsp;&nbsp;EDIT</button>

    <!-- section one -->
    <br>
    <br>
    <h1>Order Space</h1>
    <br>
    <h4><span class="number">&#x278A;</span> How long do you plan to store?</h4>
    <br>
    <p>You will be charged storage fee minimum 3/6 months according to the plan you choose</p>
    <div class="row">
      <div class="col-6">
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1">
            3-6 months
          </label>
        </div>
      </div>
      <div class="col-6">
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
            7 months +
          </label>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <!-- section two -->
    <h4><span class="number">&#x278B;</span> Choose your boxes</h4>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-12">
          <%= image_tag "buildings.jpg", :class=>"img-fluid" %>
          Max. 15 kg
          <p class="choice-description">Document Box</p>
          <p class="choice-price">HK$ 99/mo</p>
          Container Fee: $9 <i class="fa fa-question-circle" aria-hidden="true"></i>
          <br>
          <label class="mr-sm-2">Quantity</label>
          <br>
          <select class="custom-select mb-2 mr-sm-2 mb-sm-0">
            <option selected>0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
        </div>
        <div class="col-md-3 col-sm-12">
          <%= image_tag "buildings.jpg", :class=>"img-fluid" %>
          Max. 20 kg
          <p class="choice-description">Standard Box</p>
          <p class="choice-price">HK$ 99/mo</p>
          <br>
          <label class="mr-sm-2">Quantity</label>
          <br>
          <select class="custom-select mb-2 mr-sm-2 mb-sm-0">
            <option selected>0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
        </div>
        <div class="col-md-3 col-sm-12">
          <%= image_tag "buildings.jpg", :class=>"img-fluid" %>
          Max. 20kg
          <p class="choice-description">Oversized Item</p>
          <p class="choice-price">HK$ 99/mo</p>
          <br>
          <label class="mr-sm-2">Quantity</label>
          <br>
          <select class="custom-select mb-2 mr-sm-2 mb-sm-0">
            <option selected>0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
        </div>
        <div class="col-md-3 col-sm-12">
          <%= image_tag "buildings.jpg", :class=>"img-fluid" %>
          Max. 20kg
          <p class="choice-description">Wardrobe Box</p>
          <p class="choice-price">HK$ 99/mo</p>
          Container Fee: $49 <i class="fa fa-question-circle" aria-hidden="true"></i>
          <br>
          <label class="mr-sm-2">Quantity</label>
          <br>
          <select class="custom-select mb-2 mr-sm-2 mb-sm-0">
            <option selected>0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
        </div>
      </div> <!-- row -->
    </div> <!-- section two container -->
    <br>
    <br>
    <div>
      <a href="#">
        <p class="transportation">Remind me about transportation fee &nbsp;<i class="fa fa-expand" aria-hidden="true"></i></p>
      </a>
    </div>
    <br>
    <br>
    <br>
    <br>
    <!-- section three -->
    <h4><span class="number">&#x278C;</span> Do you have Promo Code?</h4>
      <input class="form-control promo" type="text" id="example-text-input">
    <br>
    <br>
    <button type="button" class="btn btn-primary">Next</button>
    <br>
    <br>
    <br>
  </div> <!-- content container -->
</div> <!-- content -->
<!-- bootstrap carousel -->
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <%= image_tag "cat.jpg", :class=>"d-block img-fluid" %>

    </div>
    <div class="carousel-item">
      <%= image_tag "cat2.jpeg", :class=>"d-block img-fluid" %>

    </div>
    <div class="carousel-item">
      <%= image_tag "cat3.jpg", :class=>"d-block img-fluid" %>

    </div>
  </div>
</div>

<script>
$("#summary-button").click(function(){
  $("#summary").toggle();
});
</script>
